
h1{
    padding: 10px;
}
/* Flexbox  */
.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #333;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
}

.flexbox-item {
    background-color: #008f97;
    color: white;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    flex: 1;
}

/* Grid  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 2px solid #333;
    padding: 20px;
    background-color: whitesmoke;
}

.grid-item {
    background-color: #008f97;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
